*{
    margin: 0px;
    padding: 0px;
}
.titleDecoration{
  font-size: 1.4rem;
}
.titleDecoration .title{
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    height: 102px;

}
.titleDecoration .bar{
    width: 90%;
    height: 4px;
    background-color: #06D6A0;
    margin-left: 5%;
}

.title div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.go_further_section1{
    padding: 30px 0;
    font-size: 1.4rem;
}
.go_further_section1 p{
    padding-bottom: 20px;
    letter-spacing: 0.1em;
}
.go_further_section1 ul{
    padding-left: 13px;
    line-height: 1.6;
    list-style: none;
}
.go_further_section1 ul li::before {
  content: "\2022";  
  color: #06D6A0; 
  font-weight: bold; 
  display: inline-block; 
  width: 2em; 
}

.list_center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#realisation_title_bold{
    font-weight: bold;
    padding: 2rem 0rem;
}

#img_realisation img{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.buttons{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 50px;

}
#button_form_pdf{
    width: 120px;
    background-color: rgba(6, 214, 160, 0.5);
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
#button_mcq_pdf{
    background-color: rgba(112, 46, 146, 0.5);
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}
#background_img_h3{
    background-image: url(images/AnoukDesury-Numeriquelles2019-12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#our_ambition{
    margin-top: 15px;
    padding: 30px 32px;
    text-align: center;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
}

#our_ambition h3{
    padding-bottom: 15px;
}
#our_ambition p{
    width: 100%;
    margin: auto;
}
@media screen and (min-width: 600px){
    #our_ambition p{
        width: 80%;
    }
    .list_center{
        width: 90%;
    }
    .titleDecoration{
        font-size: 1.8;
    }
}
@media screen and (min-width: 774px){
    .list_center{
        width: 72%;
    }
}
@media screen and (min-width: 1000px){
    
    .list_center{
        width: 55%;
    }
}