*{
    margin: 0px;
    padding: 0px;
}
.first_image img{
    width: 100%;
    height: 100%;
}
.titleDecoration{
    font-size: 1.4rem ;
}

#legal_notice{
    padding: 20px;
    font-size: 14px;
    line-height: 1.6em;
}
#legal_notice h2{
    padding-bottom: 10px;
}
#legal_notice p{
    margin-bottom: 15px;
}