.mailSection {
    background-color: rgba(218,233,246,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.mailSection p {
    margin: 25px 0;
}

.mailSection p:first-child {
    font-size: 2.4rem;
}

.mainContent > p,
.mainContent > ul {
    padding: 50px;
}

.mailSection p:last-child{
    display: flex;
    justify-content: center;
}

.mainContent li {
  font-size: 1.4rem;
}

.mainContent li::before {
  content: "\2022";  
  color: #06D6A0; 
  font-weight: bold; 
  display: inline-block; 
  width: 2em; 
}