p {
  margin: 20px
}

.program ul {
  font-size: 1.4rem;
  margin: 20px
}

.program li {
  margin: 5px 0;
}

.event {
  text-align: center;
  margin: 50px 0;
}

.event h2 {
  font-size: 4.8rem;
  margin-bottom: initial;
  color: rgba(103,50,141,1);
}

.event p {
  font-size: 1.8rem;
  color: rgba(103,50,141,1);
}

.title h3 {
  font-size: 1.8rem;
}

.title p {
  font-size: 2rem;
}

.parts {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.middleSchool {
  background-color: rgba(218,233,246,1);
}

.middleSchool > .title,
.highSchool > .title{
  text-align: center;
  padding: 10px 0;
}

.workshop {
  width: 103px;
  padding: 25px;
  font-size: 1.4rem;
}

.workshop .title1,
.workshop .title2 {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.workshops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title1 {
  background-color: rgba(91,211,164,1);
}

.title2 {
  background-color: rgba(103,50,141,1);
}

.title2 a {
  color: white;
}

.workshop .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: white;
  padding: 10px 0;
}

.workshop .image img {
  max-width: 100%;
  max-height: 68px;
}

.workshop .description li {
  padding: 5px 0;
}

.workshop .description li::before {
  content: ".";  
  color: #06D6A0; 
  font-size: 6rem;
  display: inline-block; 
  line-height: 0rem;
}

.eventHeader {
  background-image: url('images/corif_stand.jpeg');
}

.boulogneHeader {
  background-image: url('images/ibm_stand.jpg');
}

.lensHeader {
  background-image: url('images/lensDiapo.jpg');
}

.lilleHeader {
  background-image: url('images/lille_crew.jpg');
}

.maubeugeHeader {
  background-image: url('images/girls.jpeg');
}