h1{
    margin: 5%;
    text-align: center;
}
h2{
    font-size: 1.4rem;
}
.toppage{
    height: 512px; 
    background-image: url('images/femmeonstand.jpg');
    margin-bottom: 0;
    padding-top: 0;
}
.bold{
    font-weight: 700;
}
.numberkey{
    width: 100%;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 50% 80% 50%;
   text-align: center;
   margin-bottom: 10%;
}
.numberone{
    grid-column: 1;
    grid-row: 1;
}
.numbertwo{
    grid-column: 3;
    grid-row:1;
}
.logo{
    width: 60%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
    grid-row: 2;
}
.numberthree{
    grid-column: 1;
    grid-row: 3;
}
.numberfour{
    grid-column: 3;
    grid-row: 3;
}
 
.tallgreen{
    font-size: 3rem;
    color:#62D3A4;
    font-weight: 900;
}
.tallpurple{
    font-size: 3rem;
    color: #67328D;
    font-weight: 900;
}
.onisep{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.img_onisep{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
} 
.text{
    margin-left: 100px;
    width: 80%;
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 5%;
    margin-top: 5%;
}
@media screen and (max-width:660px){
.numberkey{
    width: 100%;
    display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 100% 50%;
   text-align: center;
   margin-bottom: 20%;
}
.numberone{
    grid-column: 1;
    grid-row: 1;
}
.numbertwo{
    grid-column: 2;
    grid-row: 1;
}
.logo{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row: 2;
    margin-left: 40%;
}
.numberthree{
    grid-column: 1;
    grid-row: 3;
}
.numberfour{
    grid-column: 2;
    grid-row: 3;
}
}
@media screen and (max-width:485px){
    .logo{
        display:none
    }
    .numberkey{
        width: 520px;
    }
    .onisep{
        margin-top: 200px;
        margin-left: 50%;
        zoom: 0.6;
    }
    .text{
        width: 90%;
        line-height: 2em;
    }
}