h1{
    text-align: center;
}
h2{
    font-size: 1.4rem;
}
.discover{
    text-align: center;
}
.toppage{
    height: 512px; 
    background-image: url('images/femmeonstand.jpg');
    margin-bottom: 0;
    padding-top: 0;
}
.logo{
    margin-left: 35%;
}
.keynumber{
    height: 400px;
}
.onisep{
margin-left: 35%;
}
.img_onisep{
    margin-top: 5%;
    margin-left: 25%;
}
.text{
    margin-left: 100px;
    width: 80%;
    font-size: 1.6rem;
}
@media screen and (max-width:1000px){
    .text{
      margin-left: 75px;
      margin-top: 3%;
      margin-bottom: 3%;
      width: 60%;
    }
    .imgalign{
        width: 500px;
        margin-left: 5%;
    }
    .onisep{
        margin-left: 20%;
    }
.img_onisep{
        margin-top: 3%;
        margin-left: 10%;
        width: 400px;
}
}
@media screen and (max-width:767px){
.text{
        margin-left: 50px;
        width: 70%;
}
.imgalign{
        width: 350px;
}
.onisep{
    margin-left: 10%;
}
.img_onisep{
    margin-left: 5%;
    width: 300px;
}
} 
