p{
    font-size: medium;
width: 50%;
text-align: center;
margin-left: 27%;
}
.toppage{
    height: 512px; 
    background-image: url('images/femmeonstand.jpg');
    margin-bottom: 0;
    padding-top: 0;
}
.imgalign{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.imgalign img {
width: 33%;
margin: 5%;
border:2px solid black;
}
.firstline{
    color: #62D3A4;
    width: 80%;
    height: 4px;
    background-color: #62D3A4;
    position: relative;
    bottom: 386px;
}
.imgalign h2{
text-align: center;
font-size: x-large;
}
.onisep{
margin-left: 35%;
}
.interblock{
height: 324px;
background-image: url('images/interblocmod.jpeg');
background-size: content;
opacity: 0.3;
margin-top: 5%;
}
.secondline{
    color: #67328D;
    width: 80%;
    height: 4px;
    background-color: #67328D;
    position: relative;
    bottom: 331px;
}
.img_onisep{
    margin-top: 5%;
    margin-left: 25%;
}