img{
    width: 300px;
    height: 300px;
    margin:5%;
}
p{
    font-size: 1.4rem;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    background-color: #DAE9F6;
    padding: 5%;
}
.containertwo{
    background-color: #DAE9F6;
    display: flex;
    justify-content: center;
}
.bloctext{
    line-height: 2rem;
    margin:3%;
}
@media screen and (max-width:770px) {
    img{
        margin: 0;
    }
    p{
        font-size: 1.2rem;
    }
    .container{
        flex-wrap: wrap;
        height: 800px;
        margin-right: auto;
        margin-left: auto;

    }
    .containertwo img{
        margin-left: auto;
        margin-right: auto;
    
    }
}
@media screen and (max-width:330px) {
    img{
        height: 200px;
        width: 200px;
        margin: 2%;
    }
    .container{
        flex-wrap: wrap;
        height: 600px;
    }
    .containertwo{
        padding: 5%;
        padding-left: 15%;
    }
}