p{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.2rem;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.toppage{
    background-image: url('images/foulle.jpg');
    background-size: cover;
    height: 512px;
}
.blueback{
    background-color: #DAE9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.blueback div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blueback img {
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.archivepresse img {
    width: 20%;
    margin-left: 40%;
    border: 1px solid black;
}
.archivepresse h2 {
text-align: center;
}
.text{
    font-size: 1.4rem;
    margin-left: 10%;
}

@media screen and (max-width:768px){
    .text{
        margin-left:5%
    }
    .blueback img{
        width:150px;
    }
    .archivepresse img{height: 200px;}
}
@media screen and (max-width:370px){
    .archivepresse img {width:80px;
                    height: 100px;}
}